<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add to List</title>
    <meta name="description" content="Add an item to the list">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    </section>
    <section id="form">
        <form action="{{ url_for('add_to_list') }}" method="POST">
            <label for="name">Name of Item: </label>
            <input type="text" name="name" id="title" placeholder="Name of item" required>
            <div>
                <button type="reset">Cancel</button>
                <button type="Submit">Submit</button>
            </div>
        </form>
    </section>
</body>
</html>