<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To-Do List</title>
        <meta name="description" content="My to-do list">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section>
            <a href="{{url_for('index')}}""><h1>To-Do List Tool</h1></a>
            <a href="{{url_for('add_to_list')}}" alt="Add to List">
            Add To List
        </a>
        </section>
        <a href="{{url_for('view_list')}}" alt="View List">
            View List
        </a>
    </body>
</html>